extends /templates/root.pug

//-
	---
	title: "Error 400 — Bad Request"
	blurb: "400: Invalid or malformed HTTP request."
	---

block mainContent
	p You’re doing it wrong.

	p
		| The server can’t process the request because of some error in the 
		| request headers or the URL query string, or something. Usually, this is 
		| a client problem, and something 
		a( href="http://pcsupport.about.com/od/findbyerrormessage/a/400error.htm" )
			| you could fix yourself
		| .

	p
		| Still confused? If everything else seems normal, you could also try 
		| looking for the page you want in the 
		a( href="#search" id="toggle-search-extra" )
			| search bar
		| .

	p
		| If all else fails, I guess something could be broken on my end. 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 400 on CureForNightmares.com&body=** Tell me everything you can about what you were doing when you\nreceived this error message, if it only happens under certain\nconditions, and so on. Thanks.' ))
			| Email me
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| file a bug report
		| , and I’ll figure it out.
