extends /templates/root.pug

//-
	---
	title: "Error 401 — Unauthorized"
	blurb: "401: You must authenticate before viewing this page."
	---

block mainContent
	p.
		I’m gonna need to see some ID. You have to log in before viewing this
		page.

	p
		| Still confused? If everything else seems normal, you could also try 
		| looking for the page you want in the 
		a( href="#search" id="toggle-search-extra" )
			| search bar.

	p
		| If all else fails, I guess something could be broken on my end. 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 401 on CureForNightmares.com&body=** Tell me everything you can about what you were doing when you\nreceived this error message, if it only happens under certain\nconditions, and so on. Thanks.' ))
			| Email me
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| file a bug report
		| , and I’ll figure it out.
