extends /templates/root.pug

//-
	---
	title: "Error 408 — Request Timeout"
	blurb: "408: The user request has timed out."
	---

block mainContent
	p.
		Your computer has taken too long to respond, so the connection timed
		out.

	p
		| Wanna try again? 
		a( id="refresh" )
			| Refresh
		| .

	p
		| If this problem doesn’t go away on its own after a few minutes, 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 408 on CureForNightmares.com&body=** Tell me everything you can about what you were doing when you\nreceived this error message, if it only happens under certain\nconditions, and so on. Thanks.' ))
			| email me
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| file a bug report
		| , and I’ll look into it.
