extends /templates/root.pug

//-
	---
	title: "Error 503 — Service Unavailable"
	blurb: "503: The service is temporarily unavailable."
	---

block mainContent
	p.
		Either my poor machine is overwhelmed with feels because there are so
		many visitors, or the site is down for maintenance.

	p
		| Anyway, this should be temporary. Wanna try again? 
		a( id="refresh" )
			| Refresh
		| .

	p If that doesn’t do it, try again later.

	p
		| If it’s been a while and the problem 
		em still
		|  hasn’t gone away, something is wrong. In which case, I’m probably 
		| (hopefully!) already scrambling to fix it, but you could 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 503 on CureForNightmares.com&body=** Tell me everything you can about what you were doing when you\nreceived this error message, if it only happens under certain\nconditions, and so on. Thanks.' ))
			| email me
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| file a bug report
		|  anyway, just in case I’ve missed something.
