//-
	---
	title: "Cure For Nightmares atom feed"
	---

//- NOTE: This page does not extend the base template, so any mixins have to be
//- manually included.
include /templates/license-mixins.pug

doctype xml
feed( xmlns="http://www.w3.org/2005/Atom" xml:lang="en-US" charset="UTF-8" )
	title( type="text" )= site.title
	subtitle( type="text" )
		= site.tagline
	id= site.domain + "/"

	- var latestStory = collections.chronologically[ 0 ];

	updated= moment( latestStory.date ).format( "YYYY-MM-DDTHH:MMZ" )

	link( rel="alternate" type="text/html" href = site.domain + "/" )
	link( rel="self" type="application/atom+xml" href = site.domain + "/feed/" )

	author
		name Andrew Toskin
		uri= andrew.web
		email= andrew.email
	rights( type="text" ).
		copyleft Andrew Toskin. Reuses and remixes of these works should
		attribute “Niccolo Florence,” and link back to #{site.domain}.

	generator( uri="https://pugjs.org/" ) Pug
	icon /favicon.gif
	logo /icons/chromosome--white-on-slate.png


	- var latestStories = collections.chronologically.slice( 0, 9 );
	each story in latestStories
		entry
			title= story.title
			author
				name Niccolo Florence
				uri= site.domain
				email= niccolo.email
			rights( type="xhtml" )
				div( xmlns="http://www.w3.org/1999/xhtml" )
					+getLicenseText( story )
			published= moment( story.date ).format( "YYYY-MM-DDTHH:MMZ" )
			updated= moment( story.date ).format( "YYYY-MM-DDTHH:MMZ" )
			id= site.domain + story.url

			link( rel="alternate" type="text/html" href = story.url )

			summary( type="xhtml" )
				div( xmlns="http://www.w3.org/1999/xhtml" )
					= story.description
