extends /templates/root.pug

block openGraphThumbnail
	if currentPage.comic
		meta(
			property="og:image"
			content = mediaDirectory + currentPage.comic.basename +
				"thumbnail-social.jpg"
		)
	else if currentPage.pictures
		meta(
			property="og:image"
			content = mediaDirectory + currentPage.pictures.featured +
				"thumbnail-social.jpg"
		)

block mainContent
	block forethought

	//- Generate full URLs for loading multimedia content.
	if currentPage.comic
		- var comic = currentPage.comic;
		if comic.number === 1
			figure
				img(
					alt=""
					src = mediaDirectory + comic.basename + comic.fragment +
						"-sd" + comic.extension
					srcset = mediaDirectory + comic.basename + comic.fragment +
							"-sd" + comic.extension + " 1125w, " +
						mediaDirectory + comic.basename + comic.fragment +
							"-hd" + comic.extension + " 2250w, " +
						mediaDirectory + comic.basename + comic.fragment +
							"-uhd" + comic.extension + " 4500w"
				)
		else
			- for ( var i = 1; i <= comic.number; i++ )
				figure
					img(
						alt=""
						src = mediaDirectory + comic.basename + comic.fragment + i +
							"-sd" + comic.extension
						srcset = mediaDirectory + comic.basename + comic.fragment + i +
								"-sd" + comic.extension + " 1125w, " +
							mediaDirectory + comic.basename + comic.fragment + i +
								"-hd" + comic.extension + " 2250w, " +
							mediaDirectory + comic.basename + comic.fragment + i +
								"-uhd" + comic.extension + " 4500w"
					)

	else if currentPage.pictures
		each image in currentPage.pictures.set
			if image.title
				h2= image.title

			figure
				img(
					alt=""
					src = mediaDirectory + image.basename + "-sd" + image.extension
					srcset = mediaDirectory + image.basename + "-sd" +
							image.extension + " 1125w, " +
						mediaDirectory + image.basename + "-hd" +
							image.extension + " 2250w, " +
						mediaDirectory + image.basename + "-uhd" +
							image.extension + " 4500w"
				)
				if image.caption
					figcaption= image.caption

	block afterthought
	block transcript

	//- Attributions for borrowed works in the Creative Commons.
	if currentPage.attributions
		each author, name in currentPage.attributions
			a( href = author.url rel="cite" )
				= name
			each url, title in author.works
				a( href = url rel="cite" )
					= title

	//- The license for the given post.
	+getLicenseText( currentPage )
