extends /templates/posts.pug

//-
	---
	title: "Doctor Lady Macbeth"
	date: "2014-08-29 14:34"
	license: "cc-share-alike"
	blurb: "This one goes out to all my Shakespeare nerds."

	mediaHost:
		self: "https://media.curefornightmares.com/short-stories/doctor-lady-macbeth/"
		archive: "https://archive.org/download/Doctor-Lady-Macbeth--by-Niccolo-Florence/"
	comic:
		basename: "doctor-lady-macbeth--"
		fragment: "full"
		number: 1
		extension: ".jpg"

	downloadURL:
		archive: "https://archive.org/details/Doctor-Lady-Macbeth--by-Niccolo-Florence"
		gitlab: "https://gitlab.com/curefornightmares/doctor-lady-macbeth"

	attributions:
		"Katie Brady":
			url: "https://www.flickr.com/photos/62223337@N00/"
			works:
				"Redrum": "https://www.flickr.com/photos/62223337@N00/289644255"
		"iStock Photo":
			url: "http://www.istockphoto.com/"
			works:
				"male nurse": "http://www.istockphoto.com/photo/male-nurse-9099074"
		"BBC Four and director Rupert Goold":
			url: "http://www.bbc.co.uk/bbcfour"
			works:
				"images from Macbeth (2010)": "http://www.bbc.co.uk/programmes/b00wnstq"
		"Bill Lawrence":
			url: "http://www.imdb.com/name/nm0492639/"
			works:
				"images of scrubs from Scrubs": "http://www.imdb.com/title/tt0285403/"
		"Justin Chadwick":
			url: "http://www.imdb.com/name/nm0149491/"
			works:
				"images from The Other Boleyn Girl (maybe not a very good movie, but it had the look I was going for in this comic)": "http://www.imdb.com/title/tt0467200/"
	---

block transcript
	section#transcript.
		Panel 1: The first thing we see is a bloody sink. There’s blood on the
		counters, all around the spigot, and flowing down into the drain.

			@Title and Byline

				> Doctor Lady Macbeth  
				by Niccolo Florence  
				curefornightmares.com

		Panel 2: A (male) nurse walks into the doctors’ surgical preparation
		room, where Lady Macbeth is washing her hands. She has blood on her
		hands and on her Elizabethan-period dress, which she wears under her
		white doctor’s coat.

			@Nurse

				> We’re ready whenever you are, Doctor.

			@Lady Macbeth

				> …Yet here’s a spot. Out, damned spot! out, I say!

		Panel 3: The nurse looks a little puzzled, concerned. Lady Macbeth is
		intensely focused on her hands. She’s covered in a bit more blood.

			@Lady Macbeth

				> Hell is murky!

			@Nurse

				> Doctor Macbeth?

			@Lady Macbeth

				> Fie, my lord, fie! — Yet who would have thought the old man to
				have had so much blood in him.

		Panel 4: The nurse begins to back away toward the door again. Lady
		Macbeth turns and glares at him. She has blood all over her front, and
		her arms all the way up to the elbows.

			@Nurse

				> Are you… okay?

			@Lady Macbeth

				> No more o’ that, my lord, no more o’ that: you mar all with
				this starting. Here’s the smell of the blood still: all the
				perfumes of Arabia will not sweeten this little hand. Oh, oh,
				oh!

		Panel 5: The nurse and Lady Macbeth are now walking out of the prep
		room, Lady Macbeth storming, the nurse nervously trailing after her. She
		has seized one of his hands with one of her still-bloody hands as they
		walk; with his free hand, the nurse points behind them. Lady Macbeth’s
		torso is covered in blood, with some flecked up around her neck and
		face, and she’s dripping as they go.

			@Lady Macbeth

				> To bed, to bed! there’s knocking at the gate: come, come,
				come, come, give me your hand. What’s done cannot be undone. —
				To bed, to bed, to bed!

			@Nurse

				> Um, but the patient is this way…

			χ
