extends /templates/posts.pug

//-
	---
	title: "the Gutenberg Generation"
	date: "2013-06-29 13:09"
	license: "cc-share-alike"
	blurb: """
		People have always worried about new technology corrupting our youth and
		weakening the resolve of our allies…
		"""

	mediaHost:
		self: "https://media.curefornightmares.com/short-stories/gutenberg-generation/"
		archive: "https://archive.org/download/Gutenberg-Generation--by-Niccolo-Florence/"
	comic:
		basename: "gutenberg-generation--"
		fragment: "full"
		number: 1
		extension: ".jpg"

	downloadURL:
		archive: "https://archive.org/details/Gutenberg-Generation--by-Niccolo-Florence"
		gitlab: "https://gitlab.com/curefornightmares/gutenberg-generation"
	---

block transcript
	section#transcript.
		Panel 1 of 1: The page is supposed to look sort of like a newspaper, if
		it had been made in the early/mid 15th Century (so, everything is still
		handwritten). At the top is a big calligraphic headline, and dead center
		is a phrenology diagram, a simple drawing of a bald man’s head, with
		different areas on the top of the head and around the eyes sectioned off
		and labeled…

		Captions: The Gutenberg Generation: What all the constant flow of
		information is doing to our children’s brains, a phrenological
		perspective

		* Shrinking attention span Urge to play violent video games diminished
		* capacity to learn Wasting moral fortitude pornography latent
		* homosexual feelings

		Can you tell which of these women has spent too long staring at the
		printed page?

		“Manuscripts should be handwritten,” scribe says. “That’s what the word
		means.”
