extends /templates/posts.pug

//-
	---
	title: "Smile!"
	date: "2016-05-01 01:25"
	license: "cc-share-alike"
	blurb: "This one piece of advice could change your life!"

	mediaHost:
		self: "https://media.curefornightmares.com/short-stories/smile/"
		archive: "https://archive.org/download/smile--by-niccolo-florence"
	comic:
		basename: "smile--"
		fragment: "full"
		number: 1
		extension: ".jpg"

	downloadURL:
		archive: "https://archive.org/details/smile--by-niccolo-florence"
		gitlab: "https://gitlab.com/curefornightmares/smile"

	attributions:
		"ThinkDesign":
			url: "http://thinkdesignblog.com/"
			works:
				"Subtle Grung Paint Textures and Brushes, paint texture #20": "http://thinkdesignblog.com/freebies-20-high-res-subtle-grunge-painting-textures-15-brushes.htm"
	---

block transcript
	section#transcript.
		## Abstract person with a sad face, with their face in their hand, looking down.

			@Disembodied voice

				> Aww, don't be sad!
				Turn that frown upside-down!

		## Abstract person has twisted their neck so their whole head is upside-down.
		A single tear falls down their cheek.

			@Disembodied voice

				> There, doesn't that feel better?

			χ
